{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <h1 >MON SITE WEB</h1>
        <nav>
            <a href="/" >Accueil</a>
            <a href="/a_propos/">A propos</a>
            <a href="/contact/">Contact </a>
            <a href="/message_list/">Messages </a>
            {% comment %} <a href="/inscription/">connexion </a> {% endcomment %}
        </nav>
    </header>
    
    <main>
        {% block content %}
            <p> contenu par defaut </p>
        {%endblock%}
    </main>
    
    <footer>
       <p>&copy; {% now "Y" %} Mon Entreprise. Tous droits réservés.</p>
   </footer>

   
</body>
</html>