<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header style="height: 120px; height: 100%; display: flex; justify-content: space-between; align-items: center;">
        <h1 style="height: 100%; width: 30%;">MON SITE WEB</h1>
        <nav style="height: 100%; width: 60%; display: flex; justify-content: space-around;">
            <a href="/" style="text-decoration: none; font-size: 20px ;color: black;">Accueil</a>
            <a href="/a_propos/"  style="text-decoration: none; font-size: 20px ;color: black;">A propos</a>
            <a href="/contact/"  style="text-decoration: none; font-size: 20px ; color: #000;">Contact </a>
            
        </nav>
    </header>
    <main>
        {% block content %}
            <p> contenu par defaut </p>
        {%endblock%}
    </main>
</body>
</html>