{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <header>
        <h1 >MON SITE WEB</h1>
        <nav>
            <a href="{% url "home" %}" >Accueil</a>
            <a href="{% url "a_propos" %}">A propos</a>
            <a href="{% url "contact" %}">Contact </a>
            <a href="{% url "message_list" %}">Messages </a>
            {% if user.is_authenticated %}
                {% comment %} <a href="{% url "logout" %}" style="color: red;">Déconnexion</a> {% endcomment %}
                <form method="post" action="{% url "logout" %}">
                    {% csrf_token %}
                    <button type="submit" style="background-color: red; border-radius: 10px;"> Déconnexion</button>
                </form>
            {% else %}
                 <a href="{% url "login" %}">connexion </a>
                 {% comment %} <a href="{% url "login" %}">s'incrire </a> {% endcomment %}
            {% endif %}
           
        </nav>
    </header>
    
    <main>
        {% block content %}
            <p> contenu par defaut </p>
        {%endblock%}
    </main>
    
    <footer>
       <p>&copy; {% now "Y" %} Mon Entreprise. Tous droits réservés.</p>
   </footer>

   
</body>
</html>