{%extends 'base.html'%} {%block content%}
{% load static %}
<div class="formullais">


  {% if user.is_authenticated  %}
      <h4>BONJOUR {{user.username}} ! </h4>
        <p>vous etre connecter </p>
    {% else %}
      <p>vous n'etre pas connecter  </p>
  {% endif %}
  
  {% comment %} <p>Vous avez age {{age}} ans</p> {% endcomment %}
  
</div>


<div class="connection">

    <h3>
        connecte
    </h3>
  <p>
     {%if est_connecte%}
    <li>vous etre connecter</li>
    {% else%}
    <li>vous n'est pas connecté</li>

    {%endif%}
  </p>


{%endblock%}
