{%extends 'base.html'%}
{% block content %}

<section>


<h2>Messages de Contact</h2>

{% if messages_list%}
    <ul>
        {% for messages in messages_list %}
        <li>
               <p> <strong> DE : </strong>  
                {{messages.name}} {{messages.email}} <br>
                 </p>

                <p>
                    <strong> DE  </strong>  
                    {{messages.created_at}}  <br>
                </p>
                 
                <p>
                     <strong> DE  </strong>  
                {{messages.message}}  <br>
                </p>
                
        </li>
        {% endfor %}
        
    </ul>
{% else %}
    <p>Aucun Message trouvé</p>
   
</section>
{%endif%}

{%endblock%}